<a href="https://colab.research.google.com/github/nascimento-luciano/Artificial-Intelligence/blob/master/COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COVID-19 em todo o Brasil e no estado de São Paulo

Perguntas:

-Quantos casos foram registrados nos estados do Brasil?

-Qual estado tem o maior número de casos?

-Quantas mortes foram registradas nos estados do Sudeste?

-Qual estado tem o maior número de mortes?

-Como se comporta a curva de evolução nos estados do Sudeste?

-No estado de São Paulo, quais municípios tem o maior número de casos registrados?

-Quais municípios tem o maior número de mortes registradas?

-Como se comporta a curva de evolução nos municípios de São Paulo?

*Importando Bibliotecas*

---------------------------------Etapa 1--------------------------------------

In [49]:
import numpy as np
import pandas as pd
#import geopandas as gpd
import plotly.express as px
import plotly.graph_objects as go

In [66]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 2.0 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 36.5 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 23.4 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

*Importando Arquivo CSV.* (Brasil)

In [50]:
#from google.colab import files
#uploaded = files.upload()

In [85]:
df = pd.read_csv ('brazil_covid19.csv')

*Importando Arquivo CSV. (Cidades)*

In [52]:
#from google.colab import files
#uploaded = files.upload()

In [53]:
dfs = pd.read_csv ('cases-brazil-cities.csv')

*Importando Arquivo CSV. (Coordenadas)*

In [54]:
#from google.colab import files
#uploaded = files.upload()

In [55]:
dcs = pd.read_csv ('brazil_cities_coordinates.csv')

*Importando Arquivo CSV. (População)*

In [56]:
#from google.colab import files
#uploaded = files.upload()

In [59]:
dhs = pd.read_csv('brazil_population_2019.csv', error_bad_lines=False)

b'Skipping line 1282: expected 8 fields, saw 9\nSkipping line 1283: expected 8 fields, saw 9\nSkipping line 1293: expected 8 fields, saw 9\nSkipping line 1294: expected 8 fields, saw 9\nSkipping line 1300: expected 8 fields, saw 9\nSkipping line 1308: expected 8 fields, saw 9\nSkipping line 1309: expected 8 fields, saw 9\nSkipping line 1314: expected 8 fields, saw 9\nSkipping line 1319: expected 8 fields, saw 9\nSkipping line 1320: expected 8 fields, saw 9\nSkipping line 1321: expected 8 fields, saw 9\nSkipping line 1323: expected 8 fields, saw 9\n'

---------------------------------Etapa 2--------------------------------------

In [73]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5596 entries, 0 to 5595
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country                          5596 non-null   object
 1   state                            5596 non-null   object
 2   city                             5596 non-null   object
 3   ibgeID                           5596 non-null   int64
 4   deaths                           5596 non-null   int64
 5   totalCases                       5596 non-null   int64
 6   deaths_per_100k_inhabitants      5596 non-null   float64
 7   totalCases_per_100k_inhabitants  5596 non-null   float64
 8   deaths_by_totalCases             5596 non-null   float64
 9   _source                          5596 non-null   object
 10  date                             5596 non-null   object
 11  newCases                         5596 non-null   int64
 12  newDeaths                        5596 non-null   int64
 13  last_info_date                   5596 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 612.2+ KB

In [72]:
dcs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state_code  5570 non-null   int64
 1   city_code   5570 non-null   int64
 2   city_name   5570 non-null   object
 3   lat         5570 non-null   float64
 4   long        5570 non-null   float64
 5   capital     5570 non-null   bool
dtypes: bool(1), float64(2), int64(2), object(1)
memory usage: 223.1+ KB

In [60]:
dhs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2853 entries, 0 to 2852
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              2853 non-null   object
 1   state               2853 non-null   object
 2   city                2853 non-null   object
 3   state_code          2853 non-null   int64
 4   city_code           2853 non-null   int64
 5   health_region_code  2853 non-null   int64
 6   health_region       2853 non-null   object
 7   population          2853 non-null   int64
dtypes: int64(4), object(4)
memory usage: 178.4+ KB

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12258 entries, 0 to 12257
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12258 non-null  object
 1   region  12258 non-null  object
 2   state   12258 non-null  object
 3   cases   12258 non-null  float64
 4   deaths  12258 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 479.0+ KB

-----------------------------------------------------------------------------

---------------------------------Etapa 3--------------------------------------

In [88]:
dn = df.loc[df['region']=='Sudeste'].drop(columns=['region'])

In [89]:
dn.sort_values(by='state',ascending=True)

             date state      cases  deaths
20     2020-02-25    ES        0.0       0
4772   2020-08-19    ES   103090.0    2963
4799   2020-08-20    ES   104037.0    2980
11063  2021-04-09    ES   400820.0    8079
4826   2020-08-21    ES   104911.0    3000
...           ...   ...        ...     ...
6611   2020-10-26    SP  1092843.0   38753
6638   2020-10-27    SP  1098207.0   38885
6665   2020-10-28    SP  1103582.0   39007
6719   2020-10-30    SP  1113788.0   39255
12254  2021-05-23    SP  3188105.0  107614

[1816 rows x 4 columns]

In [90]:
dr = dn.sort_values(by=['date'],ascending=False)

In [91]:
rn = dr.head(9).drop(columns=['date']).sort_values(by='cases',ascending=False)

In [93]:
#Comentário:
figrn = px.bar(rn, x='state',y='cases',labels={'cases':'CASOS','state':'ESTADOS'},title='COVID-19 RANKING NORDESTE - CASOS')
figrn.show()

------------------------------------------------------------------------------

Trabalho Final

In [ ]:
#df = pd.read_csv ('cases_brazil_total')
#dfs = pd.read_csv ('cases_brazil_cities')
#dcs = pd.read_csv ('cases_brazil_coordinates')
#dhs = pd.read_csv ('brazil_population_2019',)